# Ignore file named 'ignoreme.txt'
/pw
ignoreme.txt
docker-compose 5_fail.yaml
Envs/
docker-compose workingish1219_2300.yaml
docker-compose-stack.yaml
docker-compose3.yaml
docker-compose6.yaml
docker-compose7.yaml
docker-compose_kinaworking.yaml
docker-compose_working.yaml
app/
arcserver/
app
arcserver
